<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.project.mapper.ProjectMapper">
  
  	<insert id="create">
  		INSERT INTO
  			T_PRJ_LIST	(PRJ_NAME, PM, CLIENT, START_DATE, END_DATE, WR_DATE, UPDT_DATE)
  		VALUES
  			(#{PRJ_NAME}, #{PM}, #{CLIENT}, #{START_DATE}, #{END_DATE}, NOW(), NOW())
  			
  	</insert>
  	
  	<select id="selectProject" resultType="com.project.qa.domain.Project">
		SELECT
			PRJ_CODE, PRJ_NAME, PM, CLIENT, DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE, DATE_FORMAT(UPDT_DATE, '%Y-%m-%d') AS UPDT_DATE,
			ATT_USER
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE = #{PRJ_CODE}
	</select>
	
	<update id="update">
		UPDATE
			T_PRJ_LIST
		SET
			PRJ_NAME = #{PRJ_NAME}, PM = #{PM}, START_DATE = #{START_DATE}, END_DATE = #{END_DATE}, ATT_USER = #{ATT_USER}, UPDT_DATE = now()
		WHERE
			PRJ_CODE = #{PRJ_CODE}
	</update>
	
	<delete id="delete">
		DELETE FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE = #{PRJ_CODE}
	</delete>

	<select id="listAll" resultType="com.project.qa.domain.Project">
	<![CDATA[
		SELECT
			PRJ_CODE, PRJ_NAME, PM, CLIENT, DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE, DATE_FORMAT(UPDT_DATE, '%Y-%m-%d') AS UPDT_DATE,
			ATT_USER
		FROM
			T_PRJ_LIST
		ORDER BY PRJ_CODE DESC, WR_DATE DESC
	]]>
	</select>	
	
	<select id="listCriteria" resultType="com.project.qa.domain.Project">
	<![CDATA[
		SELECT
			PRJ_CODE, PRJ_NAME, PM, CLIENT, DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE, DATE_FORMAT(UPDT_DATE, '%Y-%m-%d') AS UPDT_DATE,
			ATT_USER
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
		ORDER BY
			PRJ_CODE DESC, WR_DATE DESC
		LIMIT
			#{pageStart}, #{perPageNum}	
	]]>
	</select>
	
	<select id="listSearch" resultType="com.project.qa.domain.Project">
	<![CDATA[
		SELECT
			PRJ_CODE, PRJ_NAME, PM, CLIENT, DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE, DATE_FORMAT(UPDT_DATE, '%Y-%m-%d') AS UPDT_DATE,
			ATT_USER
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
		
	]]>
	
	<include refid="search"></include>
	
	<![CDATA[
		ORDER BY
			PRJ_CODE DESC, WR_DATE DESC
		LIMIT
			#{pageStart}, #{perPageNum}	
	]]>
	
	</select>
	
	<select id="listSearchCount" resultType="int">
	<![CDATA[
		SELECT
			COUNT(PRJ_CODE)
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
	]]>
	<include refid="search"></include>
	
	</select>
	
	<select id="listSearchCountForMyPage" resultType="int">
	<![CDATA[
		SELECT
			COUNT(PRJ_CODE)
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
		AND
			ATT_USER LIKE CONCAT('%', #{USER_CODE}, '%')
	]]>
		<include refid="search"></include>
	</select>
	
	<select id="listSearchForMyPage" resultType="com.project.qa.domain.Project">
	<![CDATA[
		SELECT
			PRJ_CODE, PRJ_NAME, PM, CLIENT, DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE, DATE_FORMAT(UPDT_DATE, '%Y-%m-%d') AS UPDT_DATE,
			ATT_USER
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
	]]>
	
	<include refid="search"></include>
	
	<![CDATA[	
		AND
			ATT_USER LIKE CONCAT('%', #{USER_CODE}, '%')
		ORDER BY
			PRJ_CODE DESC, WR_DATE DESC
		LIMIT
			#{pageStart}, #{perPageNum}	
	]]>
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
		SELECT
			COUNT(PRJ_CODE)
		FROM
			T_PRJ_LIST
		WHERE
			PRJ_CODE > 0
	]]>
	</select>
	
	<update id="addLikeUser">
		UPDATE
			T_PRJ_LIST
		SET
			ATT_USER = #{ATTR_USER}
		WHERE
			PRJ_CODE = #{PRJ_CODE}
	</update>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'nm'.toString()">
				AND PRJ_NAME LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'pm'.toString()">
				AND PM LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'cd'.toString()">
				AND PRJ_CODE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'ct'.toString()">
				AND CLIENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
  
  </mapper>